<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: blanchedalmond;"><%= title %></h1>
    <h1 style="color: blanchedalmond;">Dashboard Customer</h1>
      <% if(msg != '') { %>
        <h1 style="color: lightblue;"><%= msg %></h1>
      <% } %>
      <a href="/dashboardcustomer">
        <em style="color: rgb(71, 157, 255);">
            <% if(loginUser){ %>  
            <%= loginUser %> 
            <% } %>
         </em>   
      </a>
      <br/><br/>
      <form action="/signout" method="post" role="form">
        <button type="submit"><em style="color: rgb(71, 157, 255);">Sign out</em></button>
      </form>
      <a href="/addnewdata">Add New Data</a>
      
      <form action="/addnewdata" method="POST" role="form">
        <label>Product Category</label><br/>
        <input type="text" name="productcategory"/><br/>
        <label>Product Name</label><br/>
        <input type="text" name="productname"/><br/>
        <label>Product Detail</label><br/>
        <input type="text" name="productdetail"/><br/>
        <label>Product Expiry</label><br/>
        <input type="date" name="productexpiry"/><br/>
        <label>Product Price</label><br/>
        <input type="number" name="productprice" min="0"/><br/><br/>
        <input type="submit" value="Add"/>
      </form>
     
    
   
    
  </body>
</html>
