<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: blanchedalmond;"><%= title %></h1>
    <h1 style="color: blanchedalmond;">Dashboard Customer</h1>
      <% if(msg != '') { %>
        <h1><%= msg %></h1>
      <% } %>
      <a href="/dashboardcustomer">
        <em style="color: rgb(71, 157, 255);">
            <% if(loginUser){ %>  
            <%= loginUser %> 
            <% } %>
         </em>   
      </a>
      <br/><br/>
      <form action="/signout" method="post" role="form">
        <button type="submit"><em style="color: rgb(71, 157, 255);">Sign out</em></button>
      </form>
     
    
   
    
  </body>
</html>
