<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: blanchedalmond;"><%= title %></h1>
    <h1 style="color: blanchedalmond;">Recycle Bin Page</h1>
      <% if(msg != '') { %>
        <h1 style="color: lightblue;"><%= msg %></h1>
      <% } %>
      <span>
        Logged in As:  
        <a href="/dashboardcustomer">        
            <em style="color: rgb(71, 157, 255);">            
                <% if(loginUser){ %>  
                <%= loginUser %> 
                <% } %>
            </em>   
          </a>

      </span>
     
      
      <br/><br/>
      <form action="/signout" method="post" role="form">
        <button type="submit"><em style="color: rgb(71, 157, 255);">Sign out</em></button>
      </form>
     
      
      
     
    
   
    
  </body>
</html>
